/* Tailwind Imports */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Library Imports */
@import "@ng-select/ng-select/themes/default.theme.css";
@import "ngx-bootstrap/datepicker/bs-datepicker.css";

/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

/* Theme overrides from frontend */
@layer base {
    :root {
        --font-sans: 'Inter', sans-serif;
        --font-display: 'Outfit', sans-serif;
    
        --color-primary-50: #ecfdf5;
        --color-primary-100: #d1fae5;
        --color-primary-500: #10b981;
        --color-primary-600: #059669;
        --color-primary-700: #047857;
        --color-primary-800: #065f46;
        --color-primary-900: #064e3b;
    
        --color-slate-850: #1e293b;
    }
}

/* BS Datepicker Fixes */
.theme-green .bs-datepicker-container,
.theme-green .bs-datepicker-head,
.theme-green .bs-datepicker-body {
    background-color: #fff !important;
    padding: 0 !important;
}

.theme-green .bs-datepicker-head {
    background-color: #059669 !important;
    padding: 10px !important;
}

.theme-green .bs-datepicker-body {
    padding: 6px !important;
    border: 1px solid #e2e8f0 !important;
}

/* Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #cbd5e1;
    border-radius: 3px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #94a3b8;
}
